@tailwind base;
@tailwind components;
@tailwind utilities;


.session-timeout-warning {
    animation: fadeIn 0.2s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
